<section id="speakers" class="feature">
  <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
    <h2>Speakers</h2>
  </div>
  <div class="row">
    <% [:left, :right].each do |align| %>
      <div class="large-5 large-1-offset columns">
        <% @item[:speaker][align] && @item[:speaker][align].each_with_index do |speaker, i| %>
          <div class="row">
            <div class="speaker-name"><%= speaker[:name] %></div>
            <% if speaker[:designation] %>
              <div class="speaker-designation"><%= speaker[:designation] %></div>
            <% end %> 
            <p class="speaker-description"><%= speaker[:description] %></p>
          </div>
        <% end %>
      </div>
    <% end %> 
  </div>
</section>